header {
    background-color: rgb(8, 32, 41);
    height: 100px;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.name {
    font-size: 32px;
    padding: 20px;

    >p {
        font-weight: 600;

        >b {
            color: red;
        }
    }
}

.add-note {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 20px;
    padding: 8px 20px;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 16px;
    >img {
        filter: brightness(0) saturate(100%) invert(32%) sepia(85%) saturate(7456%) hue-rotate(355deg) brightness(105%) contrast(131%);
    }


}