<div class="main">
    <div class="list">
        <div class="left">
            <div class="all">
                <img src="./assets/icons/layers.png" alt="">
                <p>All</p>
            </div>
            <div class="fav">
                <img src="./assets/icons/star.png" alt="">
                <p>Favorites</p>
            </div>
        </div>
        <div class="trash">
            <img src="./assets/icons/trash.png" alt="">
            <p>Trash</p>
        </div>
    </div>
    <div class="main-content">
        
    </div>
</div>